
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bio</h5>
    <p class="card-text"><%= user.bio %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= user.full_name %>'s Skills:</li>
    <% user.skills.each do |skill| %>
      <li class="list-group-item"><%= skill.name.titleize %></li>
    <% end %>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
